<div class="parallax-container">
          <div class="parallax"><img src="images/houston.jpg"></div>
        </div>
        <div class="section transparent">
          <div class="row container">
            <h2 class="header blue-text" style="text-align: center;">ENVIRONMENT</h2>
            <p class="white-text text-darken-3 lighten-3" style="text-align: center;">Located in the heart of Houston, Tx <br>
              I am able to go to your business location and start designing any ideas you might have for your website. <br>
              If you are in Bellaire, Kingwood, Pearland, Katy or any part around the city <br><br>
              Lets begin making your vision a reality
            </p>
          </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="images/laptop.jpeg"></div>
          </div>
          <div class="section transparent">
            <div class="row container">    
              <h2 class="header blue-text" style="text-align: center;">COMMITMENT</h2>
              <p class="white-text text-darken-3 lighten-3" style="text-align: center;">I am determine to create yor website from scratch.  <br>
                Creating something from the ground up and making it succeed and grow your business, it will take time and effort but at the end it will be all worth it. <br>
                <br>
                I am commited to make the best site for your business and to get you more customers.
              </p>
            </div>
          </div>
          <div class="parallax-container">
            <div class="parallax"><img src="images/programing.jpeg" ></div>
          </div>
          <div class="section transparent">
            <div class="row container">
              <h2 class="header blue-text" style="text-align: center;">SKILLS</h2>
              <p class="white-text text-darken-3 lighten-3" style="text-align: center;">I am efficient in HTML, CSS and JavaScript language, <br>
                 with knowledge in photoshop and illustrating any creative idea that you might want for your business.
                <br>
                You are welcome to take a look at some of the sites I designed <br> <a href="/websites"><i class='medium material-icons'>language</i></a>
              </p>
            </div>
          </div>
            <div class="parallax-container">
              <div class="parallax"><img src="images/signup.jpeg" ></div>
            </div>
            </div>
            </div>
            
            <br>
            <br>
            <br>
            {{!-- =====================================================================================================  footer --}}

<footer class="page-footer" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col s6 m4 l4" >
                <img src="images/crest.png" style="width: 140px; lenght: 140px">
                <h6 style="color: rgb(70, 70, 245);">INTER&#60;/CODE&#62;TINENTAL ©</h6>
                <p style="font-family: cursive;">Established in 2020</p>
                <p>All Rights Reserved.</p>
            </div>
            <div class="col s6 m4 l4" >

                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="/services">Services</a></li>
                    <li><a class="grey-text text-lighten-3" href="/websites">Websites</span> </a></li>
                    <br>
                </ul>
            </div>
            <br>
        </div>
    </div>
{{!-- ================================================================================== end of footer --}}

<br>
<br>



<style>
        body {background-image: url('images/blak-bkg.png');}
        p {color: whitesmoke;
            text-align: center;}

</style>