<br>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h4>
                Click on the images to see websites that I have worked on.
            </h4>
        </div>
    </div>
</div>

<br>
<br>


{{!-- coffe  --}}
<div class="card" style="border: 3px solid rgb(194, 150, 31);">

    <div class="card-image waves-effect waves-block waves-light">
        <a href="https://jgr-m.github.io/Coffee/" target="_blank"><img src="images/hot.jpeg" class="img-fluid"
                alt="Responsive image"></a>

    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Hot Chill Coffee<i
                class="material-icons right">more_vert</i></span>
        <p><a href="https://jgr-m.github.io/Coffee/" target="_blank">Organo Gold</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" style="text-align: center;">
            <h1>Organo Gold</h1><i class="material-icons right">close</i>
        </span>
        <p style="text-align: center; color:brown;">Sign up in this website to get more information about exploring
            various coffee flavors</p>
        <br>
        <h5 style="text-align: center;">Programming Language and Material used for this Website</h5>
        <h5>
            <ul>
                <li>HTML</li>
                <li><img src="images/html.png" alt=""></li>
                <li>Materialize CSS</li>
                <li><img src="images/mater.png" alt=""></li>
            </ul>
        </h5>
    </div>
</div>


<br>
<br>

{{!-- chicken website --}}
<div class="card" style="border: 3px solid rgb(214, 19, 19);">

    <div class="card-image waves-effect waves-block waves-light">
        <a href="https://www.esperanza-polloasado.com/" target="_blank"><img src="images/main-pic.jpg" class="img-fluid"
                alt="Responsive image"></a>

    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Esperanza Pollo Asado al Carbon<i
                class="material-icons right">more_vert</i></span>
        <p><a href="https://www.esperanza-polloasado.com/" target="_blank">Esperanza Pollo Asado</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" style="text-align: center;">
            <h1>Esperanza Pollo Asado</h1><i class="material-icons right">close</i>
        </span>
        <p style="text-align: center; color:rgb(214, 19, 19)">Visit Esperanza Pollo Asado al Carbon to eat their
            amazing grilled chicken</p>
        <br>
        <h5 style="text-align: center;">Programming Language and Material used for this Website </h5>
        <h5>
            <ul>
                <li>HTML</li>
                <li><img src="images/html.png" alt=""></li>
                <li>NodeJS</li>
                <li><img src="images/node-1.jpg" alt=""></li>
                <li>Handlebars</li>
                <li><img src="images/handlebars-js.png" alt=""></li>
                <li>
                    <h3>Express JS</h3>
                </li>
                <br>
                <li>Heroku</li>
                <li><img src="images/heroku.png" alt=""></li>
                <li>Materialize CSS</li>
                <li><img src="images/mater.png" alt=""></li>
            </ul>
        </h5>
    </div>
</div>

<br>
<br>

{{!-- personal web grm --}}
<div class="card" style="border: 3px solid rgb(2, 77, 206);">

    <div class="card-image waves-effect waves-block waves-light">
        <a href="https://www.german-rm.com" target="_blank"><img src="images/logo-3.png" class="img-fluid"
                alt="Responsive image"></a>

    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">German RM<i
                class="material-icons right">more_vert</i></span>
        <p><a href="https://www.german-rm.com" target="_blank">German RM</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" style="text-align: center;">
            <h1>German RM</h1><i class="material-icons right">close</i>
        </span>
        <p style="text-align: center; color:brown;">My very first online portfolio created, after learning and
            applying my programming skills</p>
        <br>
        <h5 style="text-align: center;">Programming Language and Material used for this Website</h5>
        <h5>
            <ul>
                <li>HTML</li>
                <li><img src="images/html.png" alt=""></li>
                <li>Materialize CSS</li>
                <li><img src="images/mater.png" alt=""></li>
            </ul>
        </h5>
    </div>
</div>

<br>
<br>

{{!-- oraganific --}}
<div class="card" style="border: 3px solid rgb(30, 165, 37);">

    <div class="card-image waves-effect waves-block waves-light">
        <a href="https://www.abetter-you.xyz/" target="_blank"><img src="images/mix-powder-green.jpeg" class="img-fluid"
                alt="Responsive image"></a>

    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Organifi<i
                class="material-icons right">more_vert</i></span>
        <p><a href="https://www.abetter-you.xyz/" target="_blank">Organifi</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" style="text-align: center;">
            <h1>Organifi</h1><i class="material-icons right">close</i>
        </span>
        <p style="text-align: center; color:brown;">A healthy and energetic powder drink that will give you more
            energy throughout the day</p>
        <br>
        <h5 style="text-align: center;">Programming Language and Material used for this Website</h5>
        <h5>
            <ul>
                <li>HTML</li>
                <li><img src="images/html.png" alt=""></li>
                <li>Materialize CSS</li>
                <li><img src="images/mater.png" alt=""></li>
            </ul>
        </h5>
    </div>

</div>
</div>

{{!-- =====================================================================================================  footer --}}

<footer class="page-footer" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col s6 m4 l4" >
                <img src="images/crest.png" style="width: 140px; lenght: 140px">
                <h6 style="color: rgb(70, 70, 245);">INTER&#60;/CODE&#62;TINENTAL ©</h6>
                <p style="font-family: cursive;">Established in 2020</p>
                <p>All Rights Reserved.</p>
            </div>
            <div class="col s6 m4 l4" >

                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="/services">Services</a></li>
                    <li><a class="grey-text text-lighten-3" href="/websites">Websites</span> </a></li>
                    <br>
                </ul>
            </div>
            <br>
        </div>
    </div>
{{!-- ================================================================================== end of footer --}}

<br>
<br>





<style>
    body {
        background-image: url('images/blak-bkg.png');
    }

    h4 {
        text-align: center;
        color: whitesmoke;
    }
</style>